* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.div__nav {
  display: flex;
  justify-content: space-around;
  border: solid 5px;
  border-color: blue;
}

.brand,
.lista,
.div__cart {
  display: inline-block;
  color: blue;
  margin: 20px;
}

.boton__nav {
  margin-left: 5px;
}

.div__cart {
  color: red;

}

.listanav {
  text-decoration: none;
  list-style-type: none;
}

.saludo{
  color: black;
  margin: 30px;
  text-align: center;
  font-size: 20px;
}